body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    max-width: 1280px;
    padding-left: 113px;
    padding-right: 113px;
    margin: 0 auto;
    }

.top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.exclude_footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center
}

td {
    text-align: center
}